# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>TensorFlow</li>
  <li>NumPy</li>
  <li>SciPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>Apache Hadoop</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

min = 200
hr = min/60
print(hr)

3.3333333333333335

#### Objectives:
List popular languages for Data Science:
<ul>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Java</li>
  <li>Scala</li>
  <li>Julia</li>
  <li>JavaScript</li>
  <li>Swift</li>
</ul>

## Author
Muhammad Nasim